In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

%cd C:\Users\user\Desktop\KUL - Mstat\Modern Data Analytics\proj\

C:\Users\user\Desktop\KUL - Mstat\Modern Data Analytics\proj

In [3]:
# import data
mortality = pd.read_csv('mortality_merged.csv')

In [4]:
class subset_helper():
    def __init__(self, data):
        self.data = data
        
    def get_summer(self, df):
        return df[(df['MONTH'] <= 8) & (df['MONTH'] >= 5)]

    def get_disease(self, df):
        diseases = ('Diseases of the circulatory system', 
                    'Diseases of the respiratory system', 
                    'Diseases of the skin and subcutaneous tissue')
        return df[df['COD'].isin(diseases)]
    
    def subset(self):
        self.data = self.get_summer(self.data)
        self.data = self.get_disease(self.data)
        return self.data
mortality = subset_helper(mortality).subset()

In [8]:
pd.crosstab(mortality['COD'], mortality['AGE-GROUP'], values = mortality['COUNT'], aggfunc = np.sum)

AGE-GROUP,0-24,25-44,45-64,65-74,75-84,85+
COD,,,,,,
Diseases of the circulatory system,106,697,7259,10157,26601,39914
Diseases of the respiratory system,34,145,2295,4104,9440,11746
Diseases of the skin and subcutaneous tissue,1,7,44,65,258,507