In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

%cd C:\Users\user\Desktop\KUL - Mstat\Modern Data Analytics\proj\

C:\Users\user\Desktop\KUL - Mstat\Modern Data Analytics\proj

In [3]:
# import data
mortality = pd.read_csv('mortality_merged.csv')

In [4]:
class subset_helper():
    def __init__(self, data):
        self.data = data
        
    def get_summer(self, df):
        return df[(df['MONTH'] <= 8) & (df['MONTH'] >= 5)]

    def get_disease(self, df):
        diseases = ('Diseases of the circulatory system', 
                    'Diseases of the respiratory system', 
                    'Diseases of the skin and subcutaneous tissue')
        return df[df['COD'].isin(diseases)]
    
    def subset(self):
        self.data = self.get_summer(self.data)
        self.data = self.get_disease(self.data)
        return self.data
mortality = subset_helper(mortality).subset()

**Average death by diseases, age group and gender**

In [21]:
round(pd.pivot_table(index = ['AGE-GROUP', 'SEX', 'REGION'], columns = 'COD', values = 'COUNT', aggfunc = np.sum,
              data = mortality).T, 3)

AGE-GROUP                                     0-24                         \
SEX                                              F                M
REGION                                        2000  3000 4000  2000  3000
COD
Diseases of the circulatory system            28.0  17.0  7.0  34.0  15.0
Diseases of the respiratory system            10.0   4.0  2.0   7.0   9.0
Diseases of the skin and subcutaneous tissue   NaN   NaN  NaN   NaN   1.0

AGE-GROUP                                          25-44                      \
SEX                                                    F                   M
REGION                                       4000   2000   3000  4000   2000
COD
Diseases of the circulatory system            5.0  114.0  107.0  22.0  220.0
Diseases of the respiratory system            2.0   19.0   23.0   4.0   35.0
Diseases of the skin and subcutaneous tissue  NaN    NaN    1.0   1.0    1.0

AGE-GROUP                                     ...  75-84                  \
SEX                                           ...      F       M
REGION                                        ...   4000    2000    3000
COD                                           ...
Diseases of the circulatory system            ...  945.0  8191.0  4484.0
Diseases of the respiratory system            ...  308.0  3389.0  2026.0
Diseases of the skin and subcutaneous tissue  ...   22.0    48.0    38.0

AGE-GROUP                                                85+                  \
SEX                                                        F
REGION                                         4000     2000    3000    4000
COD
Diseases of the circulatory system            904.0  15595.0  9006.0  2304.0
Diseases of the respiratory system            397.0   3550.0  2271.0   662.0
Diseases of the skin and subcutaneous tissue   10.0    213.0   160.0    40.0

AGE-GROUP
SEX                                                M
REGION                                          2000    3000    4000
COD
Diseases of the circulatory system            8008.0  3934.0  1067.0
Diseases of the respiratory system            3142.0  1683.0   438.0
Diseases of the skin and subcutaneous tissue    49.0    38.0     7.0

[3 rows x 36 columns]